<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.norypt.protect.debug.SmsSecretDebugReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.norypt.protect.debug.action.INJECT_SMS"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.norypt.protect.debug.TriggerDumpReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.norypt.protect.debug.action.DUMP_TRIGGERS"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
